<div class="row">
    <div class="col-12 text-center mb-3">
        <h5>Top Heroes</h5>
    </div>
    <div class="col">
        <div class="row">
            <a *ngFor="let hero of heroes" [routerLink]="['/details', hero.id]" href="#" class="top_hero_link col-sm-3 col-12 text-center">
                <div class="col-sm-12 py-4" style="background-color:pink">
                    <p class="mb-0">{{hero.name}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<app-hero-search></app-hero-search>