<div class="container">
    <div class="row py-5">
        <div class="col-sm-12">
            <h3 class="mb-3">{{ title }}</h3>
        </div>
        <div class="col-12 col-sm-2">
            <a href="#" routerLink="/dashboard" routerLinkActive="active" class="btn btn-block btn-outline-primary">Dashboard</a>
        </div>
        <div class="col-12 col-sm-2">
            <a href="#" routerLink="/heroes" routerLinkActive="active" class="btn btn-block btn-outline-info">Heroes</a>
        </div>
    </div>
</div>